#home{
    @apply relative bg-cover bg-repeat bg-center;
    
    .app__wrapper{
        @apply p-0;

        .copyright{
            @apply hidden;
        }
    }
}

.app__header{
    @apply flex-[1] h-full w-full  max-[1200px]:flex-col flex-row xl:pt-3
     max-xs:pt-24 pt-24 max-xs:pr-4 pr-16 max-xs:pb-8 pb-0;
}

.app__header_info{
    @apply flex-[0.65] flex flex-col justify-start items-start h-full max-xl:w-full max-xl:mr-0;
}

.app__header_badge{
    @apply  w-full flex justify-end items-end flex-col max-lg:justify-start max-lg:items-start;

    .badge_cmp,.tag_cmp{
        @apply py-4 px-8 border-whiteColor rounded-[15px] flex-row w-auto;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }
    .tag_cmp{
        @apply flex-col mt-12;

        p{
            @apply w-full uppercase text-right
        }
    }
    span{
        @apply lg:text-[5rem] text-[2.5rem] ;
    }
}

.app__header_circle{
    @apply flex-[0.75] flex flex-col justify-evenly items-start h-full ml-4;

    div {
        @apply w-[100px] h-[100px] rounded-full bg-whiteColor;
        box-shadow: 0 0 20px rgba(0,0,0,0.1); 
        img{
            @apply w-3/5 h-3/5;
        }
    }
    div:nth-child(1){
        @apply w-[100px] h-[100px] xl:w-[400px] xl:h-[400px];
    }
    div:nth-child(2){
        @apply w-[150px] h-[150px] xl:w-[170px] xl:h-[170px]  m-[1.75rem];
    }
    div:nth-child(3){
        @apply w-[70px] h-[70px] xl:w-[200px] xl:h-[200px];
    }

    @media  screen and (max-width : 1200px) {
        @apply w-full flex-row flex-wrap ml-0;
        div{
            margin : 1rem;
        }
    }
}