@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Header */
.app{
    @apply bg-primary ;
}

.app__container{
    @apply w-full min-h-screen flex flex-row;
}

.app__flex{
    @apply flex items-center justify-center;
}

.app__wrapper{
    @apply flex-1 w-full flex-col max-[450px]:px-16 max-[450px]:py-8 pt-16 pl-4 pb-8;
}

.copyright{
    @apply w-full pt-8 pl-0 pb-0 flex flex-col justify-end items-end;
    p {
        @apply uppercase text-blackColor; 
    }
}

.head-text{
    @apply text-[2.75rem] xl:text-[4rem] max-xs:text-[2rem] font-bold text-center text-blackColor capitalize;

    span{
        @apply text-secondary;
    }
}

.p-text{
    @apply xl:text-[1.75rem] text-[0.8rem] text-left text-grayColor leading-[1.5]
}
/* end */