@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Header */
.app{
    @apply bg-primary font-DM ;
}

.app__whitebg{
    @apply bg-whiteColor;
}

.app__primarybg {
    @apply bg-primary;
}

.app__container{
    @apply w-full min-h-screen flex flex-row;
}

.app__flex{
    @apply flex items-center justify-center;
}

.app__wrapper{
    @apply flex-[1] w-full flex-col ;
    padding: 4rem 2rem;

    @media screen and (max-width : 450px) {
        padding: 4rem 1rem 2rem;
    }
}

.copyright{
    @apply w-full flex flex-col justify-end items-end;
    padding: 2rem 0 4rem;
    p {
        @apply uppercase text-blackColor; 
    }
}

.head-text{
    @apply text-[2.75rem] xl:text-[4rem] max-xs:text-[2rem] font-bold text-center text-blackColor capitalize;

    span{
        @apply text-secondary;
    }
}

.p-text{
    @apply xl:text-[1.75rem] text-[0.8rem] text-left text-grayColor leading-[1.5]
}

.bold_text{
    @apply xl:font-[2rem] max-xs:font-[.9rem] text-[1rem] font-extrabold text-blackColor text-left ;
}

.app__social{
    @apply flex justify-end items-center flex-col p-4;
    
    div{
        @apply xl:w-[70px] w-[40px] xl:h-[70px] h-[40px] rounded-full bg-whiteColor xl:my-[0.5rem] my-[0.25rem] mx-0
                border border-solid border-lightGray
                flex justify-center items-center transition-[0.3s] ease-in-out
                ;

        svg{
            @apply xl:w-[30px] xl:h-[30px] w-[15px] h-[15px] text-grayColor;
        }

        &:hover{
            @apply bg-secondary border-secondary;

            svg{
                @apply text-whiteColor;
            }
        }
    }
}

.app__navigation{
    @apply flex justify-center items-center flex-col p-4;
    
    .app__navigation_dot{
        @apply xl:w-[20px] w-[10px] xl:h-[20px] h-[10px] rounded-full bg-[#cbcbcb] m-2 transition-[0.2s] ease-in-out;
        
        &:hover{
            @apply bg-secondary;
        }
    }
}

@media screen and (max-width : 500px){
    .app__navigation,.app__social{
        @apply hidden;
    }
    .copyright{
        @apply p-8;
    }
}
/* end */